*, *::before, *::after{
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, lightblue, rgb(93, 223, 93));
}

h1, p{
    margin: 0;
    text-align: center;
    padding: 10px;
}

.header{
    color: rgba(255, 255, 255, .5);
    background-color: rgba(0, 0, 0, .75);
    padding: 20px;
    width: 100%;
    text-align: center;
}

p{
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 20px;
    color: rgba(0, 0, 0, .75);
    background: rgba(255, 255, 255, .5);
}

a{
    font-size: 20px;
    text-decoration: none;
    color: rgba(255, 255, 255, .75);
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.task{
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    color: rgba(255, 255, 255, .5);
    padding: 10px;
    font-size: 20px;
    border: 5px solid rgba(0, 0, 0, .5);
    border-radius: 15px;
    outline: 0;
    background: rgba(0, 0, 0, .5);
    margin: 10px;
}

button:hover{
    color: rgba(0, 0, 0, .5);
    background: rgba(255, 255, 255, .5);
}
.delete{
    padding: 5px;
    background: rgba(255, 0, 0, .75);
}
.delete:hover{
    background: rgba(255, 0, 0, .85);
}
.input{
    color: rgba(0, 0, 0, .5);
    padding: 10px;
    font-size: 20px;
    border: 5px solid rgba(0, 0, 0, .5); 
    border-radius: 15px;
    outline: 0;
    background-color: rgba(255, 255, 255, .75);
    margin: 10px;
}

label{
    color: rgba(0, 0, 0, .75);
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.checkbox{
    height: 25px;
    width: 25px;
}
.checkboxes label {
    display: inline-block;
    padding-right: 10px;
    white-space: nowrap;
}
.checkboxes input {
    vertical-align: middle;
}
.checkboxes label span {
    vertical-align: middle;
}

@media(max-width: 500px){
    .input, button, p{
        padding: 5px;
        font-size: 10px;
    }
    label{
        font-size: 10px;        
    }
    .checkbox{
        height: 15px;
        width: 15px;
    }
}